﻿body {
    margin: 0;
    font-family: 'Segoe UI';
    background-color:#252525;
    color:#ebebeb;
}
h1{
    color:#00ffff;
}
.site-content-wrapper{
    position:relative;
    margin:50px auto 0;
    max-width:900px;
    
}
.site-pages-content{
    padding-top:50px;
}

.navbar-wrapper {
   
    background-color: black;
    height: 3em;
}

 .navbar-wrapper .navbar {
    
    text-align:center;
    line-height:3em;
    
   
 
}
 .navbar ul{

     list-style: none;
     margin:0;
 }
  .navbar li{
      display:inline-block;
  }

 .navbar a{
     text-decoration: none;
    
     padding: 14px;
      
 }
 .navbar a:hover{
     background-color:#252525;
    
 }

.navbar .menu-items {
    
    color: #ebebeb;
    padding: 0 15px 0;
   
    
}
.home-page-left-side{
    max-width:450px; 
    padding:0 10px; 
    float:left; 
   
}
.home-page-right-side{
    float:left;
    max-width:430px;
    height:auto;
}
.shrinked-header{
    display:none;
}
@media (max-width:530px){
    .header{display:none}
    .shrinked-header{display:block}
}

.mobile-navbar-wrapper{
    background-color: black;
    height: 35px;
    position:relative;
   
}
.mobile-navbar-wrapper .mobile-logo{
   
    
}
.mobile-menu-cross-wrapper{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    right: 0px;
    display:none;
    cursor: pointer;
}
.mobile-menu-cross-wrapper .cross-leftleg{
    border: 2px solid #ababab;
    transform: rotate(45deg);
    position: absolute;
    height: 20px;

}
.mobile-menu-cross-wrapper .cross-rightleg{
    border: 2px solid #ababab;
    transform: rotate(-45deg);
    position: absolute;
    height: 20px;
}
.mobile-hamburger-wrapper{
    width:20px;
    position:absolute;
    top:9px;
    right:9px;
    cursor: pointer;
    

}

.mobile-hamburger-wrapper .hamburger-layers{
    margin-bottom:2px;
    border:2px solid  #ababab;
  
}
.mobile-menu-wrapper{
    display:none;
}

.mobile-menu-wrapper{
      background-color:black;
}

.mobile-menu-wrapper .mobile-menu-items-wrapper-exp {
    
    border-bottom:1px solid #252525;
    margin:0 5px;
    padding-left:5px;


}
.mobile-menu-items-wrapper-exp a{
    text-decoration:none;
}
.mobile-menu-items
{
    color:#ebebeb;
}
.mobile-site-content-wrapper{
    position:relative;
    margin:0 auto;
    max-width:900px;
}
.left-side-content{
    float:left;
    
    width:253px;
    padding:10px 5px 0 25px;
    
}
.right-side-content{
    float:left;
    max-width:500px;
    padding:0px 5px 0 25px;
    border-left:1px solid #ebebeb;
    min-height: 200px
}
.right-side-content h2{
    margin-top:0;
    margin-bottom:0;
}
#h1-index {

    font-weight:lighter; 
    font-style:oblique; 
    font-size:60px; 
    color:white;
   
}
#h1-lastname{
    float:right; 
    color:#00ffff; 
    font-style:oblique
}

#h2-index{
    
    font-weight:bold; 

    margin:auto;
}
.dashes{
  
    font-weight:100
}


.h1-wrapper{
    height:180px
}
.content-wrapper{
    text-align:center
}
.img-portfolio{
    width:100%; 
    height:100%
}
.main-footer{

    max-width:900px;
    min-height:2em;
    margin:5px auto;
    padding: 0 5px;
    text-align:center;

}
.text-box{
  max-height: 180px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.text-box .read-more{
   
    position:absolute;
    bottom:0px;
    right:0px;
    background:linear-gradient(to left, #252525 40%,transparent );
    width:200px;
   
     
}
.read-more-text{
    float:right;
    background-color:#ababab;
    padding:0 2px;
    cursor:pointer;
}
.read-more-text::after{
    content:'\2193';
}
.social-media-icons-wrapper{
    padding:2px;
    position:relative;
    

}
.social-media-icons{
    float:right;
    padding:0 2px;
    cursor:pointer;
    height:25px;
}
.shrinked-header,.mobile-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
form{
    padding-right: 10px;
}
address{
    font-size: small;
}