﻿@{
    ViewBag.Title = "Blog";
}
<div class="site-pages-content">
    <div class="left-side-content"><h1>Blog</h1></div>
    <div class="right-side-content">
        <div class="text-box"> 
            <h2>Google's new logo</h2>
            <span style="font-weight:lighter;">2015-09-07 Monday</span>
            <div class="social-media-icons-wrapper">
                <img class="social-media-icons" src="~/Content/Images/Facebook-icon.PNG" alt="Facebook Share"/>
                <img class="social-media-icons" src="~/Content/Images/twitter-icon.PNG" alt="Twitter Share"/>
                <div style="clear:right"></div></div>

            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
            <div class="read-more"><span class="read-more-text">Read more</span></div>
        </div>
        <div class="text-box">

            
           <h2>Windows 10</h2>
            <span style="font-weight:lighter;">2015-09-03 Thursday</span>
            <div class="social-media-icons-wrapper">
                <img class="social-media-icons" src="~/Content/Images/Facebook-icon.PNG" alt="Facebook Share"/>
                <img class="social-media-icons" src="~/Content/Images/twitter-icon.PNG" alt="Twitter Share"/>
                <div style="clear:right"></div>
            </div>

            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
            <div class="read-more"><span class="read-more-text">Read more</span></div>
        </div>
    </div>
    <div style="clear:left"></div>
</div>