﻿@{
    ViewBag.Title = "Contact";
}
<div class="site-pages-content">
    <div class="left-side-content"><h1>Contact</h1></div>
    <div class="right-side-content">
    <h3>Got any questions? please fill in the form below.</h3>
    <form>
        <h4>Email:</h4>
        <input style="width:100%; background-color:lightgrey"/>
        <h4>Message:</h4>
        <textarea style="width:100%; min-height:125px; background-color:lightgrey"></textarea>
        <input type="submit" value="Send" style="float:right; width:70px"/>
        <div style="clear:both"></div>
    </form>

        <h3>Christoffer Andersson</h3>
        <address>

            <p>
                Keas 69 Str.
                15234, Chalandri
                Athens,
                Greece
            </p>

            +30-2106019311 (landline)<br />
            +30-6977664062 (mobile phone)<br />
            +30-2106398905 (fax)
        </address>
    </div><br />
    <div style="clear:left"></div>
</div>