﻿@{
    ViewBag.Title = "Home Page";
}

<div class="home-page-left-side">
    <div class="h1-wrapper">
        <h1 id="h1-index">
            Christoffer <br />
            <span id="h1-lastname">Andersson</span>
        </h1>
    </div>


    <div style="clear:both"></div>

    <div class="content-wrapper">
        <h2 id="h2-index"><span class="dashes">&#8212;&#8212;&#8212;</span> Welcome <span class="dashes">&#8212;&#8212;&#8212;</span></h2>
        <p class="p-index">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
    </div>

</div>
<div class="home-page-right-side">
    <img style="width:100%" src="~/Content/Images/PicCA.png" alt="Christoffer Andersson Profile"/>
</div>
<div style="clear:both"></div>
