﻿
@{
    ViewBag.Title = "Portfolio";
}

<div class="site-pages-content">
    <div class="left-side-content"><h1>Portfolio</h1></div>
    <div class="right-side-content">
        <h2>Bored - MVC Project</h2>
        <h5>MVC, HTML, CSS, Entity Framework, SQL Server</h5>
        <img class="img-portfolio" src="~/Content/Images/Bored.png" alt="Bored Portfolio"/>
        <p>This is a site that you can visit when you are bored, and it will randomly generate stuff that you can do.</p>       
        <hr />
        <h2>Placeholder - Placeholder Project</h2>
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
        <img class="img-portfolio" style="width:233px;" src="~/Content/Images/lorem-ipsum.jpg" alt="Lorem Portfolio" />
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
    </div>

    <div style="clear:left"></div>
</div>
