﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Christoffer Andersson - .Net Developer">
    <title>@ViewBag.Title - Christoffer Andersson</title>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


</head>
<body>
    <header class="shrinked-header">
        <div class="mobile-navbar-wrapper">
            <div class="mobile-logo"><a href="~/Home/Index"><img src="~/Content/Icons/home.ico" alt="home" height="35" width="35"></a></div>
            <div class="mobile-hamburger-wrapper">
                <div class="hamburger-layers"></div>
                <div class="hamburger-layers"></div>
                <div class="hamburger-layers"></div>
            </div>
            <div class="mobile-menu-cross-wrapper">
                <div class="cross-leftleg"></div>
                <div class="cross-rightleg"></div>

            </div>
        </div>
        <div class="mobile-menu-wrapper">

            <div class="mobile-menu-items-wrapper-exp"><a href="~/Home/Index"><span class="mobile-menu-items">HOME</span></a></div>

            <div class="mobile-menu-items-wrapper-exp"><a href="~/Home/Portfolio"><span class="mobile-menu-items">PORTFOLIO</span></a></div>

            <div class="mobile-menu-items-wrapper-exp"><a href="~/Home/Blog"><span class="mobile-menu-items">BLOG</span></a></div>

            <div class="mobile-menu-items-wrapper-exp"><a href="~/Home/Contact"><span class="mobile-menu-items">CONTACT</span></a></div>


        </div>
    </header>
    <header class="header" style="width:100%">
        <div class="navbar-wrapper">
            <div class="navbar">
                <ul>
                    <li><a href="~/Home/Index"><span class="menu-items">HOME</span></a></li><!--
                    --><li><a href="~/Home/Portfolio"><span class="menu-items">PORTFOLIO</span></a></li><!--
                    --><li><a href="~/Home/Blog"><span class="menu-items">BLOG</span></a></li><!--
                    --><li><a href="~/Home/Contact"><span class="menu-items">CONTACT</span></a></li>
                   
                </ul>
            </div>

        </div>
    </header>
    <div class="site-content-wrapper">
        @RenderBody()
    </div>
    <footer>
        <div class="main-footer">
            <hr />
            <span>Christoffer Andersson © 2015</span>
        </div>
    </footer>
    
    <script src="~/Scripts/SiteJS.js"></script>
</body>
</html>
