﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Christoffer Andersson - .Net Developer">
    <title>@ViewBag.Title - Christoffer Anderson</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   
    
</head>
<body>
    <header class="mobile-header">
        <div class="mobile-navbar-wrapper">
            <div class="mobile-logo"><a href="~/Home/Index"><img src="~/Content/Images/home.ico" alt="home" height="35" width="35"></a></div>
            <div class="mobile-hamburger-wrapper">
                <div class="hamburger-layers"></div>
                <div class="hamburger-layers"></div>
                <div class="hamburger-layers"></div>
            </div>
            <div class="mobile-menu-cross-wrapper">
                <div class="cross-leftleg"></div>
                <div class="cross-rightleg"></div>

            </div>
        </div>
        <div class="mobile-menu-wrapper">

            <div class="mobile-menu-items-wrapper-exp"><a href="~/Home/Index"><span class="mobile-menu-items">HOME</span></a></div>

            <div class="mobile-menu-items-wrapper-exp"><a href="~/Home/Portfolio"><span class="mobile-menu-items">PORTFOLIO</span></a></div>

            <div class="mobile-menu-items-wrapper-exp"><a href="~/Home/Blog"><span class="mobile-menu-items">BLOG</span></a></div>

            <div class="mobile-menu-items-wrapper-exp"><a href="~/Home/Contact"><span class="mobile-menu-items">CONTACT</span></a></div>


        </div>
    </header>

    <div class="mobile-site-content-wrapper">
        @RenderBody()

        
        
    </div>
    <footer>
        <div class="main-footer">
            <hr />
            <span>Christoffer Andersson © 2015</span>
        </div>
    </footer>
    <script src="~/Scripts/SiteJS.js"></script>
</body>
</html>
